@font-face {
    font-family: palanquin;
    src: url(fonts/PalanquinDark-Bold.ttf);
}
@font-face {
    font-family: fogaz;
    src: url(fonts/FugazOne-Regular.ttf);
}
body {
    /* font-family: palanquin; */
}
.navba-ul > li {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
.home{
    background-image: url('../images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.home-heading{
    font-family: palanquin;
    font-stretch: ultra-expanded;
    font-weight: 900;
    color: #ffffff !important;
}
.home-para{
    
    color: #ffffff;
}
.logo{
    height: 13vh;
    width: auto;
}
.logo-company {
    position: absolute;
    top: 50px;
}
.home-button{
    font-size: 20px;
    font-weight: bolder;
}
.featured{
    background-color: black;
    color: #ffffff;
}
.f-logo{
    height: 8vh;
    width: auto;

}
.f-logo-ul li{
    display: inline;
    list-style-type: none;
}
.about{
    background-color: black;
    color: #ffffff;
}
.about-para{
    font-size:25px;
}
.about-nabil{
    background-color: black;
    color: #ffffff;
    height: 60vh;

}
.nabil-buton{
    position: absolute;
    bottom: 60px;
    font-size: 20px;
}
.comodity{
    background-color: black;
    color: #ffffff;
}
.chl1{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/t.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.chl2{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/mm.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.chl3{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/tm.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.chl4{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/con.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.chl5{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/coach.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.chl6{
    background-image:linear-gradient(rgba(22,22,22,0), rgba(22,22,22,0.5)),url('../images/1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    color: black;
}
.fee{
    background-color: black;
    color: #ffffff;

}
.reviews{
    background-color: black;
    color: #ffffff;

}
